node_modules
.pnpm-store

dist
.turbo
.vite
.cache

*.tsbuildinfo
.eslintcache

.DS_Store
Thumbs.db
.idea/

*.log
.env
.env.*
!.env.example

coverage

tmp/

data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
data/*.sqlite-shm
